*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #08fc9a;
}
#box{
    background-color: whitesmoke;
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    margin: 2rem;
    margin-left: 0;
    width: 100%;
}
.btn{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
}